[Unit]
Description=Revolt Bot Discord Bot Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/revoltbot/htdocs/bot.revolt.tr
ExecStart=/bin/bash /home/revoltbot/htdocs/bot.revolt.tr/scripts/docker-startup.sh
ExecStop=/usr/bin/docker-compose -f /home/revoltbot/htdocs/bot.revolt.tr/docker-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target