/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter fontunu tüm uygulamada kullanmak için */
html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
